<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>EjercicioGrupalMVC5</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CrearCapacitacion</display-name>
    <servlet-name>CrearCapacitacion</servlet-name>
    <servlet-class>controlador.CrearCapacitacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearCapacitacion</servlet-name>
    <url-pattern>/CrearCapacitacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Contacto</display-name>
    <servlet-name>Contacto</servlet-name>
    <servlet-class>controlador.Contacto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contacto</servlet-name>
    <url-pattern>/Contacto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearUsuario</display-name>
    <servlet-name>CrearUsuario</servlet-name>
    <servlet-class>controlador.CrearUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearUsuario</servlet-name>
    <url-pattern>/CrearUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarCapacitacionBD</display-name>
    <servlet-name>ListarCapacitacionBD</servlet-name>
    <servlet-class>controlador.ListarCapacitacionBD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarCapacitacionBD</servlet-name>
    <url-pattern>/ListarCapacitacionBD</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarUsuarioBD</display-name>
    <servlet-name>ListarUsuarioBD</servlet-name>
    <servlet-class>controlador.ListarUsuarioBD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarUsuarioBD</servlet-name>
    <url-pattern>/ListarUsuarioBD</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsuarioValidar</display-name>
    <servlet-name>UsuarioValidar</servlet-name>
    <servlet-class>controlador.UsuarioValidar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuarioValidar</servlet-name>
    <url-pattern>/UsuarioValidar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarUsuarioBD</display-name>
    <servlet-name>EditarUsuarioBD</servlet-name>
    <servlet-class>controlador.EditarUsuarioBD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarUsuarioBD</servlet-name>
    <url-pattern>/EditarUsuarioBD</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarUsuarioBD</display-name>
    <servlet-name>BuscarUsuarioBD</servlet-name>
    <servlet-class>controlador.BuscarUsuarioBD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarUsuarioBD</servlet-name>
    <url-pattern>/BuscarUsuarioBD</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarUsuarioBD</display-name>
    <servlet-name>EliminarUsuarioBD</servlet-name>
    <servlet-class>controlador.EliminarUsuarioBD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarUsuarioBD</servlet-name>
    <url-pattern>/EliminarUsuarioBD</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarCapacitacionBD</display-name>
    <servlet-name>BuscarCapacitacionBD</servlet-name>
    <servlet-class>controlador.BuscarCapacitacionBD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarCapacitacionBD</servlet-name>
    <url-pattern>/BuscarCapacitacionBD</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarCapacitacionBD</display-name>
    <servlet-name>EditarCapacitacionBD</servlet-name>
    <servlet-class>controlador.EditarCapacitacionBD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarCapacitacionBD</servlet-name>
    <url-pattern>/EditarCapacitacionBD</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarCapacitacionBD</display-name>
    <servlet-name>EliminarCapacitacionBD</servlet-name>
    <servlet-class>controlador.EliminarCapacitacionBD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarCapacitacionBD</servlet-name>
    <url-pattern>/EliminarCapacitacionBD</url-pattern>
  </servlet-mapping>
</web-app>